@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Jim+Nightshade&display=swap');


#Navbar {

    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        margin-right: 10px;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: rgb(255, 255, 255);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    .burger input:checked~span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }

    .burger input:checked~span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    .burger input:checked~span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 15px;
        left: 5px;
    }
}


.logo {
    font-family: "Black Ops One", system-ui;
    font-weight: 100;
    img {
        // filter: drop-shadow(2px 4px 0px black);
    }
}



.burger {
    position: relative;
    width: 40px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger .checked:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger .checked:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger .checked:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 16px;
    left: 5px;
}